{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    </head>
    <body>

        <ul>
            <li><a class="active" href ="/"> Home </a></li>
            <li><a  href ="/signin"> Signin </a></li>
            <li><a  href ="/blogs"> Blogs </a></li>
            <li><a  href ="/blogs"> About </a></li>


            <li style="float:right">
                {% if user.is_authenticated %}
                User: {{ user.get_username }} &nbsp;
                
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                  </form>
                
              {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
              {% endif %}

            </li>



    
        </ul>



    
      

        {% block content %}
        {% endblock%}
    </body>
</html>
